// font

$text-font-stack: 'Roboto Condensed', 'Segoe UI', Tahoma, Geneva, Verdana,
  sans-serif !default;

// colors

$color-primary: hsl(10, 65%, 35%);
$color-primary-dark: hsl(10, 65%, 15%);
$color-secondary: hsl(40, 20%, 20%);
$color-secondary-dark: hsl(60, 10%, 15%);
$color-orange: hsl(20, 100%, 50%);
$color-green: hsl(100, 100%, 25%);
$color-ocean-blue: #12404d;
$color-snow-white: hsl(0, 0%, 100%);
$color-white: hsl(0, 0%, 85%);
$color-light-gray: hsl(0, 0%, 50%);
$color-gray: hsl(0, 0%, 35%);
$color-dark-gray: hsl(0, 0%, 25%);
$color-dim-gray: hsl(0, 0%, 12%);
$color-black: hsl(0, 0%, 0%);

$max-width: 1180px !default;

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

$base-url: '/assets/' !default;
