// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');